.header {
    background: none;
    width: 100%;
    padding: 20px 0px;
    overflow: hidden;
    &__container {
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__block {
        display: flex;
        align-items: center;
    }

    &__logo {
        @include background;
        width: 80px;
        height: 81px;
        cursor: pointer;
        margin-right: 103px;
        position: relative;
    }

    &__logo-dot {
        position: absolute;
        width: 11.73px;
        height: 11.73px;
        background: $primary-color;
        border-radius: 50%;
        bottom: 4.41px;
        right: 4.41px;
        transform: translateY(-200px);
    }

    &__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        max-width: 115px;
        color: $text-secondary;
        margin-right: 110px;
    }

    &__navigation {
        display: flex;
        flex-direction: column;
        li {
            margin-right: 20px;
            &:last-child {
                margin-right: 100px;
            }
        }
        a {
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            position: relative;
            &:hover:before {
                right: auto;
                width: 100%;
                left: 0;
            }
            &:before {
                position: absolute;
                content: '';
                bottom: 0;
                right: 0;
                width: 0%;
                height: 1px;
                background: $text;
                transition: $transition;
            }
        }
    }

    &__btn {
        height: 32px;
        width: 40px;
        @include background;
        background: url(/img/burger.svg);
        cursor: pointer;
        transition: .2s ease;
        &:hover {
            transform: scaleY(.75);
        }
    }

    &__btn-auth {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        margin-right: 40px;
        cursor: pointer;
        position: relative;
        &:hover:before {
            right: auto;
            width: 100%;
            left: 0;
        }
        &:before {
            content: '';
            position: absolute;
            width: 0%;
            height: 1px;
            background: $text;
            bottom: 0;
            right: 0;
            transition: $transition;
        }
    }

    &__btn-profile {
        width: 40px;
        height: 40px;
        @include background;
        background: url(/img/profile.svg);
        margin-right: 40px;
        cursor: pointer;
        position: relative;
    }
}
